extends layout

block content
  a(href="new")
    button(type="button" id="create-btn") Create Message
  h1= title
  each message in messages
    div.message-box
      h1= message.user
      p= message.text
      p= message.added