body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-box {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 5px;
  margin: 1rem;
  background-color: azure;
}

#create-btn {
  border: none;
  padding: 10px;
  background-color: chocolate;
  border-radius: 5px;
}